* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding: 3rem;
  background-color: rgb(109, 109, 109);
  display: flex;

  li {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0 2rem;
  }

  li a {
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

    &:hover {
      background-color: rgb(64, 69, 69);
      border-radius: 5px;
      height: 100%;
    }
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center center;
  display: flex;
  align-items: center;

  &_contents {
    margin-left: 6rem;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    color: #fff;

    .title {
      font-size: 5rem;
      font-weight: bolder;
      letter-spacing: 1.5px;
      font-family: 'Fjalla One', sans-serif;

      span {
        font-size: 2rem;
        margin-left: 3rem;
        padding: 2rem;
        border: 3px solid rgb(91, 199, 81);
        border-radius: 50%;
      }
    }

    .overview {
      font-size: 2rem;
      letter-spacing: 0.7px;
      line-height: 1.6;
      padding: 4rem 0;
      width: 35vw;
    }

    .button {
      padding: 1rem;
      border: 2px solid rgb(91, 199, 81);
      border-radius: 10px;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}

.heading {
  text-align: center;
  margin: 5rem;
  font-size: 6rem;
}

.movies-lists {
  width: 80vw;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.movie {
  border: 2px dotted rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;

  &_heading {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }

  &_container {
    display: flex;

    & > * {
      flex: 1;
    }

    &_image {
      margin-right: 1rem;

      img {
        // height: 40rem;
        width: 100%;
        border-radius: 10px;
      }
    }

    &_contents {
      margin: 0.5rem;
      line-height: 1.7;

      span {
        display: block;
      }

      h1,
      p,
      img {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

.movieDetails {
  display: flex;
  margin: 5rem;

  &_poster {
    img {
      border-radius: 10px;
    }
  }

  &_contents {
    margin: 0 3rem;

    &_title {
      font-size: 3rem;

      span {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        border: 1px solid #333;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgb(92, 28, 28);
        color: #fff;
        letter-spacing: 1.5px;
      }
    }

    &_genre {
      padding: 2rem 0;

      & > span {
        font-size: 1.5rem;
        border: 1px solid rgb(155, 78, 78);
        margin: 0.5rem 2rem;
        padding: 1rem 2rem;
        border-radius: 5px;
        display: inline-block;
      }
    }

    &_overview {
      font-size: 1.8rem;
      line-height: 1.8;
    }

    &_runtime {
      font-size: 2rem;
      line-height: 1.8;
      font-weight: bold;
      padding: 1rem 0;
    }
  }
}

.movieVideo-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  background-color: rgb(226, 238, 234);

  .video {
    margin: 1.5rem auto;
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 4rem;
  }

  .App {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.pagination {
  width: 400px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  list-style: none;

  li a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
  }

  .active {
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: underline;
  }
}
