* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

.heading {
  text-align: center;
  margin: 5rem;
  font-size: 6rem;
}

.App {
  width: 80vw;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.movie {
  border: 2px dotted rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;

  &_heading {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }

  &_container {
    display: flex;

    & > * {
      flex: 1;
    }

    &_image {
      margin-right: 1rem;

      img {
        // height: 40rem;
        width: 100%;
        border-radius: 10px;
      }
    }

    &_contents {
      margin: 0.5rem;
      line-height: 1.7;

      span {
        display: block;
      }

      h1,
      p,
      img {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 4rem;
  }

  .App {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.pagination {
  width: 400px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  list-style: none;

  li a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
  }

  .active {
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: underline;
  }
}
